<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83847023934-hk1acaoil6pddikk6q8493hs7tc8302k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83847023934-hk1acaoil6pddikk6q8493hs7tc8302k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83847023934-ai9v2viedba7dngpuhom1ar8ja35utff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUJR0xNphEDpoCCVOtUYyvlOx7faLXkXE</string>
	<key>GCM_SENDER_ID</key>
	<string>83847023934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelunion.app</string>
	<key>PROJECT_ID</key>
	<string>travelunion</string>
	<key>STORAGE_BUCKET</key>
	<string>travelunion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83847023934:ios:14f7a508b4491b5c34306f</string>
	<key>DATABASE_URL</key>
	<string>https://travelunion.firebaseio.com</string>
</dict>
</plist>